<div class="product-container">

  {{#each product}}
    <div class="product-card">
      <p class="product-title">{{this.title}}</p>
      <p class="product-description">{{this.category}}</p>
      <p class="product-price">${{this.price}}</p>
    </div>
  {{/each}}
</div>